* {
  background-color: #171717;
}
div{
  text-align: center;
  color: #ededed;
}
.cartel{
    border-radius:15px;
    border-color: #da0037;
    border-style: double;
    padding: 20px;
}
input{
  background-color: white;
}
/*Clase para los botones, que van a estar animados*/
button {
    border-radius:15px;
    background-color: #949494;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
/*Aca es para cuando el mouse esté por encima cambie los colores.*/
button:hover {
  background-color: #da0037;
  color: #ededed;
}
strong{
    color: #DA0037;
}
img{
    width: 500px;
    height: 250px;
}
.libro{
    height: 600px;
}