<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Elije Tu Propia Aventura! EL JUEGO.</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div class="contenedor">
      <h1>Causa del Final.</h1>
      <hr />
      <p class="cartel">
        Acá el texto para contar que sucedió <strong>Y tenes color tambien ;)</strong>
        vas a tener que colocar alguna imagen acá abajo.
      </p>
      <img
        src="https://www.bitdegree.org/learn/storage/media/images/margin-css.o.png"
        alt="Cualquier Imagen"/>
      <h3>Y eso es todo amigos!.</h3>
      <a href="../index.html">
        <button class="boton">Volver al inicio.</button>
      </a>
    </div>
  </body>
</html>