<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Elije Tu Propia Aventura! EL JUEGO.</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div class="contenedor">
      <h1>Titulo del camino</h1>
      <hr />
      <p class="cartel">
        Acá el texto que quieras para desarrollar la historía. <strong>Y tenes color tambien ;)</strong>
        vas a tener que colocar alguna imagen acá abajo.
      </p>
      <img
        src="https://www.bitdegree.org/learn/storage/media/images/margin-css.o.png"
        alt="Cualquier Imagen"/>
      <h3>Acá es donde eliges que hacer.</h3>
      <a href="../index.html">
        <button class="boton">Opción 1.</button>
      </a>
      <br>
      <br>
      <a href="../index.html">
        <button class="boton">Opción 2.</button>
      </a>
    </div>
  </body>
</html>